<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <form>
                <table class="table table-striped mb-5">
                    <thead>
                        <tr>
                            <th scope="col">{{translations.common.memberName}}</th>
                            <th scope="col" sortable="name">
                                {{translations.common.company}}</th>
                            <th scope="col" sortable="area">{{translations.common.email}}
                            </th>
                            <th scope="col" sortable="population">{{translations.common.phone}}
                            </th>
                            <th scope="col" sortable="age" (sort)="onSort($event)">{{translations.common.age}}
                            </th>
                            <th scope="col">{{translations.common.action}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let member of members">
                            <th scope="row">{{ member.name?.first}} {{ member.name?.last}}</th>
                            <td>
                                {{ member.company }}
                            </td>
                            <td>{{ member.email }}</td>
                            <td>{{member.phone}}</td>
                            <td>{{member.age}}</td>
                            <td>
                                <a role="button" (click)="openConfirmationDialog()"><span class="fa fa-trash fa-lg"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>